body {
    background-color: #f2f2f2;
    color: #333333;
    margin: 0;
    padding: 0;
}

.animate-loader {
    animation: loader 1.5s ease-in-out infinite alternate forwards;
}

/* Added Codrops-style loader animation */
@keyframes loader {
    0% {
        transform: scaleX(0);
        transform-origin: 0% 50%;
    }

    50% {
        transform: scaleX(1);
        transform-origin: 0% 50%;
    }

    50.1% {
        transform: scaleX(1);
        transform-origin: 100% 50%;
    }

    100% {
        transform: scaleX(0);
        transform-origin: 100% 50%;
    }
}